<script>
  requestAnimationFrame(() => {
    document.addEventListener('alpine:init', () => {
      Alpine.store('xSplide', {
        load(el, configs) {
          const initSlider = () => {
            const id = el.getAttribute('id');

            if (configs.classes != undefined) {
              if (!configs.classes.arrow)
                configs.classes.arrow =
                  'arrow w-8 h-8 p-2 absolute z-10 top-1/2 -translate-y-1/2 hidden md:flex items-center justify-center';
              if (!configs.classes.next) configs.classes.next = 'right-0';
              if (!configs.classes.prev) configs.classes.prev = '-rotate-180';
            }
            let splide = new Splide('#' + id, configs);

            if (configs.thumbs) {
              let thumbsRoot = document.getElementById(configs.thumbs);
              let thumbs = thumbsRoot.getElementsByClassName('x-thumbnail');
              let current;
              let _this = this;

              for (let i = 0; i < thumbs.length; i++) {
                thumbs[i].addEventListener('click', function () {
                  _this.moveThumbnail(i, thumbs[i], thumbsRoot, configs.thumbs_direction);
                  splide.go(i);
                });
              }
              splide.on('mounted move', function () {
                let thumbnail = thumbs[splide.index];

                if (thumbnail) {
                  if (current) {
                    current.classList.add('opacity-30');
                  }
                  thumbnail.classList.remove('opacity-30');
                  current = thumbnail;
                  _this.moveThumbnail(splide.index, thumbnail, thumbsRoot, configs.thumbs_direction);
                }
              });
            }

            if (configs.hotspot) {
              let hotspotRoot = document.getElementById(configs.hotspot);
              let hotspots = hotspotRoot.getElementsByClassName('x-hotspot');
              let current;

              if (
                configs.disableHoverOnTouch &&
                ('ontouchstart' in window ||
                  (window.DocumentTouch && window.document instanceof DocumentTouch) ||
                  window.navigator.maxTouchPoints ||
                  window.navigator.msMaxTouchPoints)
              ) {
                for (let i = 0; i < hotspots.length; i++) {
                  hotspots[i].addEventListener('click', function () {
                    splide.go(i);
                  });
                }
              } else {
                for (let i = 0; i < hotspots.length; i++) {
                  hotspots[i].addEventListener('mouseover', function () {
                    splide.go(i);
                  });
                  hotspots[i].addEventListener('focus', function () {
                    splide.go(i);
                  });
                }
              }
              splide.on('mounted move', function () {
                let hotspot = hotspots[splide.index];

                if (hotspot) {
                  if (current) {
                    current.classList.remove('active-hotspot');
                  }
                  hotspot.classList.add('active-hotspot');
                  current = hotspot;
                }
              });
            }

            if (configs.progressBar) {
              var bar = splide.root.querySelector('.splide-progress-bar');
              splide.on('mounted move', function () {
                var end = splide.Components.Controller.getEnd() + 1;
                var rate = (splide.index + 1) / end;
                if (bar) {
                  bar.style.width = String(100 * rate) + '%';
                }
              });
            }

            if (configs.events) {
              configs.events.forEach((e) => {
                splide.on(e.event, e.callback);
              });
            }

            el.splide = splide;
            splide.mount();
          };

          if (!window.OTSB.loadedScript.includes('slider')) {
            deferScriptLoad('slider', window.OTSB.sliderScript, initSlider, true);
          } else if (window.Splide) {
            initSlider();
          } else {
            document.addEventListener('slider loaded', () => {
              initSlider();
            });
          }
        },
        moveThumbnail(index, thumbnail, thumbsRoot, direction) {
          if (direction == 'vertical') {
            setTimeout(() => {
              thumbsRoot.scrollTop =
                (index + 1) * thumbnail.offsetHeight -
                thumbsRoot.offsetHeight * 0.5 +
                thumbnail.offsetHeight * 0.5 +
                index * 12;
            }, 50);
          } else {
            thumbsRoot.scrollLeft = (index - 2) * thumbnail.offsetWidth;
          }
        },
      });
    });
  });
</script>

{%- liquid
  if settings.heading_base_size != blank
    assign size_heading = section.settings.heading_size | times: settings.heading_base_size | times: 0.000225
  else
    assign size_heading = section.settings.heading_size | times: 100 | times: 0.000225
  endif

  assign columns_mobile = section.settings.columns_mobile | plus: 0
  assign columns_desktop = section.settings.columns_desktop | plus: 0
  assign swiper_on_mobile = section.settings.swiper_on_mobile
  if section.blocks.size <= columns_mobile
    assign swiper_on_mobile = false
  endif

  assign enable_desktop_slider = section.settings.enable_desktop_slider
  if section.blocks.size <= columns_desktop
    assign enable_desktop_slider = false
  endif
  assign ratio = 100
  if section.settings.image_ratio == 'rectangle'
    assign ratio = 150
  endif
  if section.settings.image_ratio == 'landscape'
    assign ratio = 75
  endif
  if section.settings.image_ratio == '3/4'
    assign ratio = 133
  endif
  if settings.lang_direction contains request.locale.iso_code
    assign is_rtl = true
    assign class_rtl = 'margin-left'
  else
    assign is_rtl = false
    assign class_rtl = 'margin-right'
  endif
-%}

{%- style -%}
  .heading--{{ section.id }} {
    font-size: {{ size_heading | times: 0.6 }}rem;
  }
  .gap-mobile-{{ section.id }} {
    gap: {{ section.settings.spacing_mobile }}px;
  }

  #shopify-section-{{ section.id }}{
    background: {{ section.settings.background_color_light }};
  }
  .content--{{ section.id }} {
    {% if section.settings.text_light.alpha != 0.0 %}
      --colors-text: {{ section.settings.text_light.red }},{{ section.settings.text_light.green }},{{ section.settings.text_light.blue }};
    {% endif %}

    {% if section.settings.title_color.alpha != 0.0 %}
      --colors-heading: {{ section.settings.title_color.red }},{{ section.settings.title_color.green }},{{ section.settings.title_color.blue }};
    {% endif %}
  }
  .dark .content--{{ section.id }} {
    {% if section.settings.title_color_dark.alpha != 0.0 %}
      --colors-heading: {{ section.settings.title_color_dark.red }},{{ section.settings.title_color_dark.green }},{{ section.settings.title_color_dark.blue }};
    {% else %}
      {% if settings.colors_dark_heading.red != blank and settings.colors_dark_heading.green != blank and settings.colors_dark_heading.blue != blank %}
        --colors-heading: {{ settings.colors_dark_heading.red }}, {{ settings.colors_dark_heading.green }}, {{ settings.colors_dark_heading.blue }};
      {% else %}
        --color-heading: 255, 255, 255;
      {% endif %}
    {% endif %}
    {% if section.settings.text_dark.alpha != 0.0 %}
      --colors-text: {{ section.settings.text_dark.red }},{{ section.settings.text_dark.green }},{{ section.settings.text_dark.blue }};
    {% else %}
      {% if settings.colors_dark_text.red != blank and settings.colors_dark_text.green != blank and settings.colors_dark_text.blue != blank %}
        --colors-heading: {{ settings.colors_dark_text.red }}, {{ settings.colors_dark_text.green }}, {{ settings.colors_dark_text.blue }};
      {% else %}
        --color-text: 153, 153, 153;
      {% endif %}
      --colors-text: {{ settings.colors_dark_text.red }}, {{ settings.colors_dark_text.green }}, {{ settings.colors_dark_text.blue }};
    {% endif %}
  }
  .dark #shopify-section-{{ section.id }}{
    {% if section.settings.background_color_dark == blank %}
      background: transparent;
    {% else %}
      background: {{ section.settings.background_color_dark }};
    {% endif %}
  }
  @media screen and (min-width: 768px) {
    .gap-{{ section.id }} {
      {% if enable_desktop_slider %}
        gap: 0px;
      {% else %}
        gap: {{ section.settings.spacing }}px;
      {% endif %}
    }
    .heading--{{ section.id }}{ font-size: {{ size_heading }}rem; }
  }
  {% if enable_desktop_slider %}
    @media (min-width: 1024px){
      .preload-slide--{{ section.id }} {
        {{ class_rtl }}: {{ section.settings.spacing }}px;
        width: calc(((100% + {{ section.settings.spacing }}px) / {{ columns_desktop }}) - {{ section.settings.spacing }}px);
      }
    }
  {% endif %}
  {% if swiper_on_mobile %}
    @media (max-width: 1023px) {
      .preload-slide--{{ section.id }} {
        {{ class_rtl }}: {{ section.settings.spacing_mobile }}px;
        width: calc(((100% + {{ section.settings.spacing_mobile }}px) / 2) - {{ section.settings.spacing_mobile }}px);
      }
    }
    @media (max-width: 767px) {
      .preload-slide--{{ section.id }} {
        {{ class_rtl }}: {{ section.settings.spacing_mobile }}px;
        width: calc(((100% + {{ section.settings.spacing_mobile }}px) / {{ columns_mobile }}) - {{ section.settings.spacing_mobile }}px);
      }
    }
  {% endif %}
{%- endstyle -%}

{% render 'otsb-section-divider' %}

<div class="pt-[{{ section.settings.padding_top_mobile }}px] md:pt-[{{ section.settings.padding_top }}px] pb-[{{ section.settings.padding_bottom_mobile }}px] md:pb-[{{ section.settings.padding_bottom }}px]">
  {%- unless section.settings.heading == blank -%}
    <div class="text-center mb-5{% unless section.settings.heading_alignment contains 'center' %} flex items-center{% endunless %} heading-{{ section.settings.heading_alignment }} pr-5 pl-5{% unless section.settings.full_width %} page-width{% endunless %}">
      <{{ section.settings.heading_tag }} class="heading--{{ section.id }} section-header h2 block leading-tight flex-auto p-break-words">
        {{- section.settings.heading | escape -}}
      </{{ section.settings.heading_tag }}>
      {%- if section.settings.show_view_all -%}
        <div class="flex justify-center pt-0.5 pb-0.5 md:pb-2.5 md:pt-2.5">
          <a
            id="ViewAll-{{ section.id }}"
            class="nav-link effect-inline relative flex items-center hover-text-link empty:hidden cursor-pointer"
            href="{{ routes.collections_url }}"
            aria-labelledby="ViewAll-{{ section.id }} SectionHeading-{{ section.id }}"
          >
            View all<span class="w-2 h-2 inline-block ml-1.5 mt-0.5">
              {%- render 'otsb-icon-alls', icon: 'icon-double-arrow' -%}
            </span>
          </a>
        </div>
      {%- endif -%}
    </div>
  {%- endunless -%}
  <div class="mx-auto{% if swiper_on_mobile %} carousel-mobile carousel-tablet full-width-mobile{% endif %}{% if section.settings.full_width %} full-width{% else %} page-width{% endif %}">
    <div class="{% if enable_desktop_slider %}lg:pl-24 lg:pr-24{% else %} lg:pl-0 lg:pr-0{% endif %}">
      <div
        id="x-collection-{{ section.id }}-{{ block.id }}"
        {% if enable_desktop_slider or swiper_on_mobile -%}
          class="{% if settings.lang_direction contains request.locale.iso_code and section.settings.transition_style == "fade" %}ltr {% endif %}x-splide splide visible"
          x-intersect.once.margin.200px='
            $store.xSplide.load($el, {
              "speed": 1000,
              "pagination": false,
              "mediaQuery": "min",
              "updateOnMove": "true",
              {%- if settings.lang_direction contains request.locale.iso_code %}
                "direction": "rtl",
              {%- endif %}
              "breakpoints": {
                300: {
                  {% if swiper_on_mobile == false -%}
                    "destroy": true,
                  {%- endif %}
                  "gap": "{{ section.settings.spacing_mobile }}px",
                  "padding": 20,
                  "focus": "right",
                  "perPage": {{ columns_mobile }},
                  "perMove": {{ columns_mobile }}
                },
                768: {
                  "gap": "{{ section.settings.spacing }}px",
                  "padding": 20,
                  "perPage": 2,
                  "perMove": 2
                },
                1024: {
                  {% if enable_desktop_slider == false -%}
                    "destroy": true,
                  {%- else %}
                    "destroy": false,
                  {%- endif %}
                  "perPage": {{ columns_desktop }},
                  "perMove": {{ columns_desktop }},
                  "padding": 0
                }
              },
              "classes": {
                "arrows" : "block",
              }
            })
          '
        {%- endif -%}
      >
        <div class="splide__track lg:pt-0.5 lg:pb-0.5{% if enable_desktop_slider %} md:cursor-grab{% endif %}{% if swiper_on_mobile %} pl-5 pr-5 lg:pl-0 lg:pr-0{% endif %}">
          <div
            class="
              {%- if enable_desktop_slider == false -%}lg:grid lg:grid-cols-{{ columns_desktop }}{% else %}lg:flex lg:w-full lg:gap-0{% endif %} gap-{{ section.id }} splide__list
              {% if swiper_on_mobile %} flex w-full{% else %} !grid grid-cols-{{ columns_mobile }} md:grid md:grid-cols-4 gap-mobile-{{ section.id }}{%- if enable_desktop_slider %} lg:grid-cols-none lg:!flex{% endif %}{% endif %}
            "
          >
            {%- for block in section.blocks -%}
              <div
                x-slide-index="{{ forloop.index | minus: 1 }}"
                id="Slide-{{ section.id }}-{{ forloop.index }}"
                class="{% if swiper_on_mobile or enable_desktop_slider %} splide__slide x-splide-slide preload-slide--{{ section.id }}{% endif %}"
                {{ block.shopify_attributes }}
              >
                {% case block.type %}
                  {%- when 'featured_collection' -%}
                    {% render 'otsb-card-collection',
                      card_collection: block.settings.collection,
                      image_ratio: section.settings.image_ratio,
                      ratio: ratio,
                      columns_desktop: columns_desktop,
                      columns_mobile: columns_mobile,
                      block_type: block.type,
                      block: block,
                      enable_desktop_slider: enable_desktop_slider,
                      text_overlay: section.settings.show_text_overlay,
                      title_size: section.settings.title_size,
                      content_alignment: section.settings.content_alignment,
                      content_position: section.settings.content_position,
                      image_overlay_opacity: section.settings.image_overlay_opacity
                    %}
                  {%- when 'promotion_block' -%}
                    {% render 'otsb-promotion-block',
                      image_ratio: section.settings.image_ratio,
                      ratio: ratio,
                      image: block.settings.image,
                      button_label: block.settings.button_label,
                      button_link: block.settings.button_link,
                      alignment: block.settings.alignment,
                      content_position: block.settings.content_position,
                      heading: block.settings.heading,
                      content: block.settings.content,
                      columns_desktop: columns_desktop,
                      columns_mobile: columns_mobile,
                      block: block,
                      enable_desktop_slider: enable_desktop_slider,
                      open_new_window: block.settings.open_new_window,
                      image_overlay_opacity: block.settings.image_overlay_opacity,
                      title_size: block.settings.title_size,
                      text_size: block.settings.text_size,
                      show_button_primary: block.settings.show_button_primary,
                      color_button: block.settings.color_button,
                      color_text_button: block.settings.color_text_button,
                      color_button_hover: block.settings.color_button_hover,
                      color_text_button_hover: block.settings.color_text_button_hover,
                      color_button_secondary: block.settings.color_button_secondary,
                      secondary_button_text: block.settings.secondary_button_text,
                      icon: block.settings.icon,
                      custom_icon: block.settings.custom_icon,
                      icon_size: block.settings.icon_size,
                      subheading: block.settings.subheading
                    %}
                {%- endcase -%}
              </div>
            {%- endfor -%}
          </div>
        </div>
        {%- if enable_desktop_slider -%}
          <div class="splide__arrows">
            <button
              class="splide__arrow splide__arrow--prev button-arrow lg:block absolute none_border z-10 w-8 h-8 lg:w-14 lg:h-14 rounded-full after:text-[20px] pt-2 pb-2 pl-2 pr-2 lg:pt-4 lg:pl-4 lg:pb-4 lg:pr-4 top-1/2 -translate-y-1/2 duration-100 opacity-60 hover:opacity-100 disabled:opacity-40 disabled:cursor-not-allowed{% if settings.lang_direction contains request.locale.iso_code %} right-0 lg:-right-24{% else %}  -rotate-180 left-0 lg:-left-24{% endif %}"
              aria-label="previous slide"
            >
              {% render 'otsb-icon-alls', icon: 'icon-arrow' %}
            </button>
            <button
              class="splide__arrow splide__arrow--next button-arrow lg:block absolute none_border z-10 w-8 h-8 lg:w-14 lg:h-14 rounded-full after:text-[20px] pt-2 pb-2 pl-2 pr-2 lg:pt-4 lg:pl-4 lg:pb-4 lg:pr-4 top-1/2 -translate-y-1/2 duration-100 opacity-60 hover:opacity-100 disabled:opacity-40 disabled:cursor-not-allowed{% if settings.lang_direction contains request.locale.iso_code %} -rotate-180 left-0 lg:-left-24{% else %} right-0 lg:-right-24{% endif %}"
              aria-label="next slide"
            >
              {% render 'otsb-icon-alls', icon: 'icon-arrow' %}
            </button>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "OTSB - Collection List 1",
  "tag": "section",
  "class": "section section-collection-list x-section",
  "max_blocks": 16,
  "disabled_on": {
    "groups": ["header", "footer", "aside"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Collection list",
      "label": "Heading"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "default": 100,
      "label": "Heading size"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "default": "h2",
      "label": "Heading tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "p"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "default": "center",
      "label": "Heading alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": false,
      "label": "Show \"View all\" button"
    },
    {
      "type": "color",
      "id": "background_color_light",
      "label": "Background color (light)"
    },
    {
      "type": "color",
      "id": "background_color_dark",
      "label": "Background color (dark)"
    },
    {
      "type": "header",
      "content": "Collection card"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "square",
          "label": "Square (1:1)"
        },
        {
          "value": "rectangle",
          "label": "Rectangle (2:3)"
        },
        {
          "value": "landscape",
          "label": "Landscape (4:3)"
        },
        {
          "value": "3/4",
          "label": "Standard (3:4)"
        },
        {
          "value": "round",
          "label": "Round"
        },
        {
          "value": "auto",
          "label": "Natural"
        }
      ],
      "default": "square",
      "label": "Image style"
    },
    {
      "type": "range",
      "id": "title_size",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Title size",
      "default": 80
    },
    {
      "type": "checkbox",
      "id": "show_text_overlay",
      "default": false,
      "label": "Enable text overlay"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "label": "Content alignment",
      "default": "center"
    },
    {
      "type": "select",
      "id": "content_position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "label": "Content position",
      "default": "bottom"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 5,
      "max": 95,
      "step": 5,
      "default": 5,
      "unit": "%",
      "label": "Overlay opacity"
    },
    {
      "type": "color",
      "id": "title_color",
      "default": "rgba(0,0,0,0)",
      "label": "Title color (light)"
    },
    {
      "type": "color",
      "id": "text_light",
      "label": "Text color (light)",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "title_color_dark",
      "default": "rgba(0,0,0,0)",
      "label": "Title color (dark)"
    },
    {
      "type": "color",
      "id": "text_dark",
      "label": "Text color (dark)",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "checkbox",
      "id": "show_item_count",
      "default": true,
      "label": "Show item count"
    },
    {
      "type": "header",
      "content": "Grid"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 5,
      "label": "Number of columns on desktop"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "1 column"
        },
        {
          "value": "2",
          "label": "2 columns"
        }
      ],
      "default": "2",
      "label": "Number of columns on mobile"
    },
    {
      "type": "header",
      "content": "Carousel"
    },
    {
      "type": "checkbox",
      "id": "enable_desktop_slider",
      "default": false,
      "label": "Enable carousel on desktop"
    },
    {
      "type": "checkbox",
      "id": "swiper_on_mobile",
      "default": false,
      "label": "Enable swipe on mobile"
    },
    {
      "type": "header",
      "content": "Desktop layout"
    },
    {
      "type": "range",
      "id": "spacing",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 4,
      "label": "Block spacing"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "default": false,
      "label": "Show section divider"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "Make section full width"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 28,
      "label": "Top padding"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 28,
      "label": "Bottom padding"
    },
    {
      "type": "header",
      "content": "Mobile layout"
    },
    {
      "type": "range",
      "id": "spacing_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 4,
      "label": "Block spacing"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider_mobile",
      "default": false,
      "label": "Show section divider"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 28,
      "label": "Top padding"
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 28,
      "label": "Bottom padding"
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    },
    {
      "type": "promotion_block",
      "name": "Promotion block",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "activity",
              "label": "Activity"
            },
            {
              "value": "archive",
              "label": "Archive"
            },
            {
              "value": "arrow-down-cricle",
              "label": "Arrow down circle"
            },
            {
              "value": "arrow-left",
              "label": "Arrow left"
            },
            {
              "value": "arrow-left-circle",
              "label": "Arrow left circle"
            },
            {
              "value": "arrow-right",
              "label": "Arrow right"
            },
            {
              "value": "arrow-right-circle",
              "label": "Arrow right circle"
            },
            {
              "value": "arrow-up-circle",
              "label": "Arrow up circle"
            },
            {
              "value": "chevron-left",
              "label": "Chevron left"
            },
            {
              "value": "trending-down",
              "label": "Trending down"
            },
            {
              "value": "tv",
              "label": "TV"
            },
            {
              "value": "trending-up",
              "label": "Trending up"
            },
            {
              "value": "zap",
              "label": "Zap"
            },
            {
              "value": "1st-medal",
              "label": "1st medal"
            },
            {
              "value": "award",
              "label": "Award"
            },
            {
              "value": "bicycle",
              "label": "Bicycle"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "briefcase",
              "label": "Brieftcase"
            },
            {
              "value": "calendar",
              "label": "Calendar"
            },
            {
              "value": "camera",
              "label": "Camera"
            },
            {
              "value": "chat-bubble",
              "label": "Chat bubble"
            },
            {
              "value": "check-mark",
              "label": "Check mark"
            },
            {
              "value": "clock",
              "label": "Clock"
            },
            {
              "value": "cloud-rain",
              "label": "Cloud rain"
            },
            {
              "value": "coffee",
              "label": "Coffee"
            },
            {
              "value": "coin",
              "label": "Coin"
            },
            {
              "value": "credit-card",
              "label": "Credit card"
            },
            {
              "value": "delivery-truck",
              "label": "Delivery truck"
            },
            {
              "value": "dollar-sign",
              "label": "Dollar sign"
            },
            {
              "value": "earth",
              "label": "Earth"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "feather",
              "label": "Feather"
            },
            {
              "value": "fire",
              "label": "Fire"
            },
            {
              "value": "flower",
              "label": "Flower"
            },
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "globe",
              "label": "Globe"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "iron",
              "label": "Iron"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map-pin",
              "label": "Map pin"
            },
            {
              "value": "megaphone",
              "label": "Mega phone"
            },
            {
              "value": "message-text",
              "label": "Message text"
            },
            {
              "value": "music",
              "label": "Music"
            },
            {
              "value": "packages",
              "label": "Packages"
            },
            {
              "value": "pants",
              "label": "Pants"
            },
            {
              "value": "percent",
              "label": "Percent"
            },
            {
              "value": "piggy-bank",
              "label": "Piggy bank"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "planet",
              "label": "Planet"
            },
            {
              "value": "question-mark",
              "label": "Question mark"
            },
            {
              "value": "rocket",
              "label": "Rocket"
            },
            {
              "value": "rules",
              "label": "Rules"
            },
            {
              "value": "scissors",
              "label": "Scissors"
            },
            {
              "value": "settings",
              "label": "Settings"
            },
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "shop-alt",
              "label": "Shop alt"
            },
            {
              "value": "shopping-bag",
              "label": "Shopping bag"
            },
            {
              "value": "shopping-cart",
              "label": "Shopping cart"
            },
            {
              "value": "smile",
              "label": "Smile"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "sun",
              "label": "Sun"
            },
            {
              "value": "tag",
              "label": "Tag"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "wallet",
              "label": "Wallet"
            },
            {
              "value": "washing",
              "label": "Washing"
            },
            {
              "value": "yoga",
              "label": "Yoga"
            }
          ],
          "default": "none",
          "label": "Icon"
        },
        {
          "type": "html",
          "id": "custom_icon",
          "label": "Custom icon (SVG code)",
          "info": "For assistance with custom SVG code or fixing issues that arise from custom SVG code, please [contact our support](https://support.bsscommerce.com/support/tickets/new)."
        },
        {
          "type": "range",
          "id": "icon_size",
          "min": 20,
          "max": 90,
          "step": 1,
          "unit": "px",
          "label": "Icon size",
          "default": 45
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Promotion block",
          "label": "Heading"
        },
        {
          "type": "range",
          "id": "title_size",
          "min": 50,
          "max": 200,
          "step": 10,
          "default": 80,
          "unit": "%",
          "label": "Heading size"
        },
        {
          "type": "richtext",
          "id": "content",
          "default": "<p>Describe a promotion, make announcements, or welcome customers to your store.</p>",
          "label": "Content"
        },
        {
          "type": "range",
          "id": "text_size",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "default": 100,
          "label": "Text size"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Background image"
        },
        {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 10,
          "unit": "%",
          "label": "Image overlay opacity",
          "default": 10
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "checkbox",
          "id": "open_new_window",
          "default": false,
          "label": "Open this link in a new window"
        },
        {
          "type": "checkbox",
          "default": true,
          "id": "show_button_primary",
          "label": "Show as primary button"
        },
        {
          "type": "select",
          "id": "alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center",
          "label": "Alignment"
        },
        {
          "type": "select",
          "id": "content_position",
          "options": [
            {
              "value": "start",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Bottom"
            }
          ],
          "label": "Content position",
          "default": "center"
        },
        {
          "type": "color",
          "id": "background_color_light",
          "default": "rgba(0,0,0,0)",
          "label": "Background color (light)"
        },
        {
          "type": "color",
          "id": "text_color_light",
          "default": "rgba(0,0,0,0)",
          "label": "Text color (light)"
        },
        {
          "type": "color",
          "id": "background_color_dark",
          "default": "rgba(0,0,0,0)",
          "label": "Background color (dark)"
        },
        {
          "type": "color",
          "id": "text_color_dark",
          "default": "rgba(0,0,0,0)",
          "label": "Text color (dark)"
        },
        {
          "type": "color",
          "id": "color_button",
          "default": "rgba(0,0,0,0)",
          "label": "Button color"
        },
        {
          "type": "color",
          "id": "color_text_button",
          "default": "rgba(0,0,0,0)",
          "label": "Button text color"
        },
        {
          "type": "color",
          "id": "color_button_hover",
          "default": "rgba(0,0,0,0)",
          "label": "Button hover color"
        },
        {
          "type": "color",
          "id": "color_text_button_hover",
          "default": "rgba(0,0,0,0)",
          "label": "Button text hover colo"
        },
        {
          "type": "color",
          "id": "color_button_secondary",
          "default": "rgba(0,0,0,0)",
          "label": "Secondary button color"
        },
        {
          "type": "color",
          "id": "secondary_button_text",
          "default": "rgba(0,0,0,0)",
          "label": "Secondary button text color"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "OTSB - Collection List 1",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
